/* Main */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Common */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

aside, nav, footer, header, section, main {
  display: block;
}

ul, ul li {
  padding: 0;
  list-style: none;
}

img, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Custom */
.is--hiden {
  display: none;
}

.for--mobile {
  display: none;
}

.btn--reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

/* Main */
body {
  margin: 0;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

a {
  color: #292929;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #9B2727;
}

.head .h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
  color: #514F4F;
  text-transform: uppercase;
  border: 1px solid #9B2727;
}
.head .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.head .logo__birja {
  max-height: 100px;
  max-width: 100px;
}
.head .logo__pb {
  max-height: 100px;
  max-width: 100px;
}
.head .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.head .link-box {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.head p {
  margin-bottom: 15px;
}
.head .instpb {
  padding-bottom: 10px;
  text-decoration: underline;
}
.head .instbirja {
  text-decoration: underline;
}

@media screen and (max-width: 420px) {
  .container {
    padding: 0 30px;
  }
  .head .h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 390px) {
  .container {
    padding: 0 20px;
  }
  .head .h1 {
    font-size: 20px;
  }
}