// Colors
$lgreen: #9B2727;
$black: #292929;
$white: #fff;
$dgreen: #245852;

// Fonts
$font-main: 'Lato', sans-serif;
$font-accent: 'Georgia', serif;

// Animated

$transition: all 0.25s ease-in-out;